{% load staticfiles %}
<html>
<head>
    <title>Enquiery Form</title>
    <link rel="stylesheet" href="{% static 'css/enquiery.css' %}">
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
 <form method="POST">
     {% csrf_token %}
     <table>
         <h2>please enter your details</h2>
         <tr>
             <th><label>Enter your first name:</label></th>
             <td><input type="text" name="fname" autocomplete="off"></td>
         </tr>
         <tr>
             <th><label>Enter your last name:</label></th>
             <td><input type="text" name="lname" autocomplete="off"></td>
         </tr>
         <tr>
             <th><label>Enter your email:</label></th>
             <td><input type="email" name="email" autocomplete="off"></td>
         </tr>
         <tr>
             <th><label>Enter your mobile:</label></th>
             <td><input type="number" name="mobile" autocomplete="off"></td>
         </tr>

         <tr>
             <th><label>Enter your username:</label></th>
             <td><input type="text" name="uname" autocomplete="off"></td>
         </tr>
         <tr>
             <th><label>Enter your password:</label></th>
             <td><input type="password" name="pwd" autocomplete="off"></td>
         </tr>
         <tr>
             <th></th>
             <td>
                 <input type="submit" value="submit">
                 <input type="reset" value="clear">
             </td>
         </tr>
     </table>
 </form>
</body>

</html>